@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&family=Zen+Antique+Soft&display=swap');

body, html {
    margin: 0;
    padding: 0;

    font-family: 'Arial', sans-serif;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Zen Antique Soft', serif;
}

h1 {
    color:rgb(255, 153, 0);
    font-size: 85px;
    text-shadow: -4px -4px 0 #69150f, -4px -4px 0 #69150f, -4px -4px 0 #69150f, -4px -4px 0 #69150f;
    text-align: center;
    margin: 20px 0px;
    -webkit-text-stroke: 2px;
}

#jap {
    position: relative;
    display:inline-block;
}

#jap::after {
    content: '\2764      \2764      \2764     \2764       \2764   \2764       \2764     \2764   \2764   \2764     \2764';
    position: absolute;
    color: red;
    font-size: 40px;
    text-align: right;
    opacity: 0;
    animation: heartAnimation 2s ease-in-out infinite;
}

.background-image {
    position: relative;
    background: url('images/japan cartoon background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.background-image2 {
    position: relative;
    background: url('images/japan cartoon background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    opacity: 0.4;
    
}

.slideInR {
    font-weight: condensed;
    position: relative;
    animation: slideInRight 2s ease-out, continuousflash 2s infinite;
}

.slideInL {
    position: relative;
    animation: slideInLeft 2s ease-in-out, flash 3s infinite;
}


#aboutUsMain {
    position: absolute;
    top: 20px;
    left: 50%;
    height: 350px;
    transform: translateX(-50%);

    color: #0d0c0c; 
    margin: 0;
    opacity: 1.0;
}


#columns {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#para {
    width: 400px;
    padding: 40px;
}

#grunts {
    height: 500px;
    padding: 40px;
}

    
@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0)
    }
    0%, 100% {
        opacity:1;
    }
    50% {
        opacity:0.3;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0)
    }
    0%, 100% {
        opacity:1;
    }
    50% {
        opacity:0.3;
    }
}

@keyframes heartAnimation {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity : 1;
        transform: translateY(-20px);
    }
    100% {
        opacity: 0;
        transform: translateY(-80px);
    }
}

.title {
    position: absolute;
    top: 20px;
    left: 50%;
    height: 350px;
    transform: translateX(-50%);
    background-image: url("https://png.pngtree.com/png-clipart/20230502/original/pngtree-cute-cloud-png-image_9131813.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1.0;

}



.section {
    background-color: #333; 
    color: #060606; 
    text-align: center;
    z-index: 3;
}

h2 {
    font-size: 24px;
}

.gameContainer {
    position: flex
}

p {
    top: 3em;
}

#startBtn {
    position:relative;
    width: 50px;
    height: 50px;
    background: none;
    left: 50%;
    box-shadow: 10px;

}

#start {
    position: absolute;
    background: none;
    cursor: pointer;
    font-size: 50px;
    padding: 20px;
    border-radius: 15px;
    border: solid;
    background: none;
    transform: translateX(-50%);
    -webkit-box-shadow: 5px 5px 15px 5px #45DDFF; 
    box-shadow: 5px 5px 15px 5px #45DDFF;
}

.actions{
    display: none;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.stats{
    display: flex;
}

.name {
    display: none
}

.bar {
    display: none;
    padding: 20px;
}

.start:hover {
    border-radius: 15px;
    text-transform: uppercase;
    box-shadow: inset;
    cursor: pointer;
}



@keyframes startGame {
    0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0.6);
	}
}


nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #333;
    padding: 10px 0;
    z-index: 1000; 
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.bottom-images {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

.bottom-image {
    width: 250px; 
    height: auto;
}


